<template>
	<div>
		<el-row :gutter="20">
			<h2>Administración de Información Adicional</h2>
			<el-form :model="adminForm"  label-position="top" class="demo-ruleForm">
				<el-row :gutter="20">
					<el-col :span="12">
						<el-form-item label="Ambito" prop="name">
							<el-select v-model="adminForm.area_id" style="width:100%;" clearable placeholder="Select">
								<el-option
								  v-for="item in cats.areas"
								  :key="item.id"
								  :label="item.name"
								  :value="item.id">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="Rubro" prop="name">
							<el-select v-model="adminForm.area_id" style="width:100%;" clearable placeholder="Select">
								<el-option
								  v-for="item in cats.areas"
								  :key="item.id"
								  :label="item.name"
								  :value="item.id">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
				</el-row>
			</el-form>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span>BROWSER</span>
					<div style="float: right; padding: 3px 0" type="text">
						<el-tooltip content="Design purpose only" placement="left"><i class="el-icon-remove"></i></el-tooltip>
						<el-tooltip content="Design purpose only" placement="top"><i class="el-icon-error"></i></el-tooltip>
					</div>
				</div>
				<div class="fields">
					<div class="field" v-for="field in adminForm.fields">
						<div v-if="field.type == 1">
							<el-input placeholder="Please input"></el-input>

						</div>
						<div v-if="field.type == 2">
							<el-input type="textarea" placeholder="Please input"></el-input>
							<el-row type="flex" class="row-bg">
							  <el-col :span="6">
							  	
							  </el-col>
							  <el-col :span="6">
							  	
							  </el-col>
							  <el-col :span="6">
							  	
							  </el-col>
							</el-row>
						</div>
						<div v-if="field.type == 3">
							<el-select style="width:100%;" placeholder="Tipo de campo">
							    <el-option
							      v-for="item in [{id:1,name:"Option"}]"
							      :key="item.id"
							      :label="item.name"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>
						<div v-if="field.type == 4">
							<el-checkbox label="Example" name="type"></el-checkbox>
						</div>

						<div v-if="field.type == 5">
							 <el-date-picker type="date" placeholder="Pick a date" style="width: 100%;"></el-date-picker>
						</div>
						<div v-if="field.type == 6">
							<el-time-picker type="fixed-time" placeholder="Pick a time" style="width: 100%;"></el-time-picker>
						</div>
						<div v-if="field.type == 7">
							<input type="file">
						</div>
					</div>
				</div>
				
				<el-select v-model="adminForm.fieldType" placeholder="Tipo de campo">
				    <el-option
				      v-for="item in cats.types"
				      :key="item.id"
				      :label="item.name"
				      :value="item.id">
				    </el-option>
				</el-select>
				<el-tooltip content="Agregar campo" placement="top">
					<el-button type="primary small" icon="el-icon-plus" @click="addField"></el-button>
				</el-tooltip>
			</el-card>
		</el-row>
	</div>
</template>

<script>

	export default {
		components: {
		},
		data() {
			return {
				fieldType:"",
				adminForm:{name:"",area_id:"",fields:[
				]},
				cats:{
					areas:[{
						id:1,
						name:"710 - DERECHOS HUMANOS"
					}],
					types:[{'id':1,'name': 'Respuesta corta' },
						{'id':2,'name' : 'Párrafo' },
						{'id':3,'name' : 'Desplegable' },
						{'id':4,'name' : 'Casilla de verificación' },
						{'id':5,'name' : 'Fecha' },
						{'id':6,'name' : 'Hora' },
						{'id':7,'name' : 'Archivo' }]
				}
			}
		},
		mounted() {

		},
		methods: {
			addField(){
				let id = this.adminForm.fields.length+1;
				let obj = {id:id,name:"Hola",type:this.adminForm.fieldType,rules:[]};
				this.adminForm.fields.push(obj);
			}
		}
	}
</script>

<style>
	.fields{
		margin:1em;
	}
	.field{
		margin-bottom: 1em; 
	}
</style>