<template>
    <main class="content-wrapper">
      <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
             <span class="sr-only">Interruptor de Navegación</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">SRE | Sistema de Protección Consular</a>
         </div>
       </div>
      </nav>
      <router-view></router-view>
    </main>
</template>

<script>
export default {
  created() {
    let recaptchaScript = document.createElement('script')
    recaptchaScript.setAttribute('src', 'https://framework-gb.cdn.gob.mx/gobmx.js')
    document.head.appendChild(recaptchaScript)
  }
}
</script>

<style>
  @import 'https://framework-gb.cdn.gob.mx/assets/styles/main.css';

  body{
    padding-top: 96px;
  }
</style>
